name: Code checks

on:
  pull_request:
  push:
    branches: ["master"]

jobs:

  runic:
    name: "Runic"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: julia-actions/setup-julia@v2
        with:
          version: '1.11'
      - uses: julia-actions/cache@v2
      - uses: fredrikekre/runic-action@v1
        with:
          version: "1.4" # Keep version in sync with .pre-commit-config.yaml

  explicit-imports:
    runs-on: ubuntu-latest
    name: "ExplicitImports.jl"
    steps:
      - uses: actions/checkout@v6
      # - uses: julia-actions/setup-julia@v2
      #   with:
      #     version: '1'
      - uses: julia-actions/cache@v2
      - uses: julia-actions/julia-buildpkg@v1
      - name: Install dependencies
        shell: julia {0}
        run: |
          # Add ExplicitImports.jl and extension packages
          using Pkg
          Pkg.add([
            PackageSpec(name = "ExplicitImports", version = "1.6"),
          ])
      - name: ExplicitImports.jl code checks
        shell: julia --project {0}
        run: |
          using SpartanMatrices, ExplicitImports
          # Check SpartanMatrices
          check_no_implicit_imports(SpartanMatrices)
          check_no_stale_explicit_imports(SpartanMatrices)
          check_all_qualified_accesses_via_owners(SpartanMatrices)
          check_no_self_qualified_accesses(SpartanMatrices)
